 body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: url("goluboy-puzyri-voda.jpg") no-repeat;
        background-size: 100%;
        background-size: cover;
        display: flex;

        justify-content: center;
    align-items: center;
   }
   .START{
     height: 100%;
       background: url("screen-6.jpg") no-repeat;
       background-size: 100%;
       background-size:  100% 100%;
       position: relative;
   }
  .btsStart{
      position: absolute;
      top: 50%;
      left: 50%;
  }
   .bg {
       height: 100%;
      
    }
    .pos0{
       
    }
    .pos1{
      
    }
    .pos3{
        
    }
    .pos4{
        position: absolute;
        left: 41%;
      margin: 0 auto;
    }
    .bts {
       margin: 20px;
        transform: translate(-1%);
        width: 180px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-family: sans-serif;
        font-size:16px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 6px;
        transition: .5s;
        background-color: #000;
        border: 4px solid #fff;
        border-radius: 60px;
        box-shadow: 0 5px 20px rgba(0,0,0, .5);
        overflow: hidden;
        cursor: pointer;
      }
      .bts::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #1366ff, #ff0b6d);
        z-index: -1;
        border-radius: 60px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .5s ease-in-out;
      }
      .bts:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }
.canvas{

    border-radius: 2%;
   
}
.Ipage{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 20px;

   
}

.player{
    position: absolute;
    top: -20%;
    transition: ease-in 0.5s;

}
input {
    border-radius: 3px;
    background:#000;
    color: #fff;
    height: 30px;
    transition: ease-in 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
[type="text"]{

}
input:hover{
    background-color: #ff0b6d;
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
    background-color: black;
    display: block;
    height: 30px;
    text-align: center;
}
li{
  list-style: none;

}
.records{
  
  width: 300px;
  height: 300px;
  background-color: #000;
  position: absolute;
display: flex;
justify-content: space-around;
top:-100%;
transition: ease 1s;
z-index: 10;
}
.point{
 
  height: 300px;
  width: 6px;
 position: absolute;
 left: 150px;
 
  background-color: #ff0b6d;
}
.recordsWiu{
  max-width:30% ;
  color: #fff;
}
