 body{
    padding: 0;
    margin: 0;
    height:100vh;
    background: url("goluboy-puzyri-voda.jpg") no-repeat;
        background-size: 100%;
        background-size: cover;
        display: flex;

        justify-content: center;
        align-items: flex-start;
      
   }
   .START{
     height: 100%;
       background: url("screen-6.jpg") no-repeat;
       background-size: 100%;
       background-size:  100% 100%;
       position: relative;
   }
  .btsStart{
      position: absolute;
      top: 50%;
      left: 50%;
  }
   .bg {
       height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
      
    }
 
    
    .pos4{
        position: absolute;
        left: 41%;
        top: 41%;
      margin: 0 auto;
    }
    .pos5{
      position: absolute;
      left: 41%;
      top: 51%;
    margin: 0 auto;
   
  }
    .bts {
       margin: 20px;
        transform: translate(-1%);
        width: 180px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-family: sans-serif;
        font-size:16px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 6px;
        transition: .5s;
        background-color: #000;
        border: 4px solid #fff;
        border-radius: 60px;
        box-shadow: 0 5px 20px rgba(0,0,0, .5);
        overflow: hidden;
        cursor: pointer;
      }
      .bts::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #1366ff, #ff0b6d);
        z-index: -1;
        border-radius: 60px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .5s ease-in-out;
      }
      .bts:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }
      .bts2 {
        margin: 20px;
         transform: translate(-1%);
         width: 180px;
         height: 60px;
         text-align: center;
         line-height: 60px;
         font-family: sans-serif;
         font-size:16px;
         color: #fff;
         text-transform: uppercase;
         text-decoration: none;
         letter-spacing: 6px;
         transition: .5s;
         background-color: #000;
         border: 4px solid #fff;
         border-radius: 60px;
         box-shadow: 0 5px 20px rgba(0,0,0, .5);
         overflow: hidden;
         cursor: pointer;
       }
       .bts2::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(to left, #1366ff, #ff0b6d);
         z-index: -1;
         border-radius: 60px;
         transform: scaleX(0);
         transform-origin: right;
         transition: transform .5s ease-in-out;
       }
       .bts2:hover::before {
         transform: scaleX(1);
         transform-origin: left;
       }
.canvas{

    border-radius: 2%;
   
}
.Ipage{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 20px;

   
}

.player{
    position: absolute;
    top: -20%;
    transition: ease-in 0.5s;

}
input {
    border-radius: 3px;
    background:#000;
    color: #fff;
    height: 30px;
    transition: ease-in 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:hover{
    background-color: #ff0b6d;
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
    background-color: black;
    display: block;
    height: 30px;
    text-align: center;
}
li{
  list-style: none;

}
.records{
  
  width: 300px;
  height: 300px;
  background-color: #000;
  position: absolute;
display: flex;
justify-content: space-around;
top:-100%;
transition: ease 1s;
z-index: 10;
}
.point{
 
  height: 300px;
  width: 6px;
 position: absolute;
 left: 150px;
 
  background-color: #ff0b6d;
}
.recordsWiu{
  max-width:30% ;
  color: #fff;
}
img{
  position: absolute;
  width: 400px;
  top: 10%;
  left: 36%;
}
.rules{
  width: 350px;
  height: 200px;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: -100%;
  left: 37.5%;
  line-height: 1.5;
  transition: ease-in 0.5s;
  z-index: 10;
}
@media(max-width: 1400px){

  .pos4{
   
    left: 42%;
  }
  .pos5{
   
    left: 42%;
  }


}
@media(max-width: 1200px){

  .pos4{
   
    left: 44%;
  }
  .pos5{
   
    left: 44%;
  }


}
@media(max-width: 1000px){

  .pos4{
   
    left: 46%;
  }
  .pos5{
   
    left: 46%;
  }


}
@media(max-width: 660px){
  img{
    width: 200px;
  }
  .pos4{
    top:30%;
    left: 35%;
  }
  .pos5{
    top:50%;
    left: 35%;
  }
  .player{
    position: absolute;
    top: -70%;
    transition: ease-in 0.5s;

}
.rules{
  
  left: 20%;
 
}

}
@media(max-width: 660px){
  img{
    left: 25%;
  }
  .pos4{
    top:30%;
    left: 25%;
  }
  .pos5{
    top:50%;
    left: 25%;
  }
}

@media(max-width: 890px){
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Ipage{
    flex-direction: row;
    flex-wrap: wrap;
   
   
  }
  .bg{
    width: 100%;
  }
  .bts2{
    width:90px ;
    height: 40px;
    font-size:6px;
    line-height: 1;
    
  }
}